.root{
    -fx-background-radius: 50;
    -fx-background-color: #FFBF3E;
}
#greeting {
    -fx-text-fill: #ff6347;
}
#exit-button{
    -fx-shape: "M 22.2031 9.67188 L 20.1367 7.60547 C 19.9805 7.44922 19.7305 7.44922 19.5781 7.60547 L 15.1445 12.0352 L 10.7148 7.60547 C 10.5586 7.44922 10.3086 7.44922 10.1563 7.60547 L 8.08984 9.67188 C 7.93359 9.82422 7.93359 10.0742 8.08984 10.2305 L 12.5195 14.6602 L 8.08984 19.0938 C 7.93359 19.2461 7.93359 19.4961 8.08984 19.6523 L 10.1563 21.7188 C 10.3086 21.8711 10.5586 21.8711 10.7148 21.7188 L 15.1445 17.2852 L 19.5781 21.7188 C 19.7305 21.8711 19.9805 21.8711 20.1367 21.7188 L 22.2031 19.6523 C 22.3555 19.4961 22.3555 19.2461 22.2031 19.0938 L 17.7695 14.6602 L 22.2031 10.2305 C 22.3555 10.0742 22.3555 9.82422 22.2031 9.67188 Z M 22.2031 9.67188";
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-background-color: #00bfff;
}